<footer id="footer">
    <div class="row">
        <div class="footer-widget-holder three columns">
            <aside class="widget group">
                <h3 class="widget-title">Text Widget</h3>
                <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.</p>
            </aside><!-- /widget -->
        </div>

        <div class="footer-widget-holder three columns">
            <aside class="widget group">
                <h3 class="widget-title">Text Widget</h3>
                <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.</p>
            </aside><!-- /widget -->
        </div>

        <div class="footer-widget-holder three columns">
            <aside class="widget group">
                <h3 class="widget-title">Text Widget</h3>
                <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.</p>
            </aside><!-- /widget -->
        </div>

        <div class="footer-widget-holder three columns">
            <aside class="widget group">
                <h3 class="widget-title">Text Widget</h3>
                <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.</p>
            </aside><!-- /widget -->
        </div>
    </div>

    <div id="credits">
        <div class="row">
            <span class="eleven columns">
                A Pinterest-like Template for WordPress by <a href="http://www.cssigniter.com">cssigniter.com</a>
            </span>
        </div>
    </div>
</footer>
