<der id="header">
    <div class="head-wrap">
        <hgroup id="logo" class="row">
            <h1><a href=""><img src="/images/dummy/logo.png" alt=""></a></h1>
        </hgroup>

        <div id="nav-hold">
            <div class="row">
                <nav id="nav" class="nine columns">
                    <ul id="navigation" class="sf-menu">
                        <li class='current'>
                            <a class='current' href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="">Home Layouts</a>
                            <ul>
                                <li><a href="index-two-col.html">Two Columns</a></li>
                                <li><a href="index-three-col.html">Three Columns</a></li>
                                <li class='current'><a class='current' href="index.html">Four Columns</a></li>
                                <li><a href="index-five-col.html">Five Columns</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Post Formats</a>
                            <ul>
                                <li><a href="single.html">Standard Post</a></li>
                                <li><a href="single-image.html">Image Post</a></li>
                                <li><a href="single-gallery.html">Image Gallery Post</a></li>
                                <li><a href="single-video.html">Video Post</a></li>
                                <li><a href="single-audio.html">Audio Post</a></li>
                                <li><a href="single-quote.html">Quote Post</a></li>
                                <li><a href="single-link.html">Link Post</a></li>
                           </ul>
                        </li>
                        <li>
                            <a href="single-alt.html">Alternate Post Layout</a>
                        </li>
                        <li>
                            <a href="fullwidth.html">Fullwidth Template</a>
                        </li>
                    </ul><!-- /navigation -->
                </nav><!-- /nav -->

                <aside class="widget widget_search three columns">
                    <form action="/" class="searchform" method="get" role="search">
                        <input size="27" type="text" title="Search" class="s" name="s">
                        <input type="submit" class="searchsubmit btn" value="GO">
                    </form>
                </aside> <!-- .widget_search -->

            </div> <!-- .wrap -->
        </div> <!-- #nav-hold -->
    </div> <!-- .head-wrap -->

</header>

