<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    	    
    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->
    <!-- Basic Page Needs
            ================================================== -->
    <meta charset="utf-8">
    <title>PinsController - Homepage</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/flexslider.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/mediaqueries.css">
    <link rel="stylesheet" href="/styles/colors/default.css" type="text/css" id="color">  

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <script src="/js/modernizr.js"></script>
    
</head>

<body>
    
    <script type="text/javascript" src="shared/header.js"></script>

    <ul id="styler" class="group">
        <li><a href="colors/default.css" id="color-default">Default</a></li>
        <li><a href="colors/blue_teal.css" id="color-blue-teal">Green &ndash; Teal</a></li>
        <li><a href="colors/brown.css" id="color-brown">Brown</a></li>
        <li><a href="colors/green_orange.css" id="color-green-orange">Green &ndash; Orange</a></li>
        <li><a href="colors/teal_pink.css" id="color-teal-pink">Teal &ndash; Pink</a></li>
        <li id="style-toggle"><a href="#">Toggle</a></li>
    </ul>

    
    <!-- Include the view file for the current controller/route -->
    <%- body %>
    
    <script type="text/javascript" src="shared/footer.js"></script>
       
    <!-- Javascript
    ================================================== -->
    <script src="/js/jquery-1.8.2.min.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/jquery.formLabels1.0.js"></script>
    <script src="/js/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.ias.js"></script>
    <script src="/js/jquery.jplayer.js"></script>
    <script src="/js/scripts.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]><script type="text/javascript" src="/js/selectivizr-min.js"></script><![endif]-->

</body>
</html>
